{% extends 'base.html' %}

{% block title %}About Us {% endblock %}

{% block content %}

<section style="background-image: linear-gradient(#460985,#4ef5f2)";>
<section>
  <br>
  <div class="image_hat" style="float:right; margin-right:30px ; opacity: 0.7;">
  <img class="image_img" src="https://drive.google.com/uc?export=view&id=1yxBzhtwb5gUCQ8JcdyK3_1PoX1UNmRnI" alt="HowUDoing">
  </div>
  <h1 style="color:#e1eff7"><big>Heyy! Whats Up'😉</big></h1>
  <h1 style="color:#dfff2b; font: fantasy;" ><big>WELCOME Ladies-n-Gentlemen to our AboutUs page!!</big></h1>
  <hr>
</section>

<div>
  <div style="float: left;margin-right:20px ;">
  <img src="https://drive.google.com/uc?export=view&id=1vHl-eJPw9ZI_CHmFk8rFtr_X_CuFi1BR" alt="Anubhab" width="270" height="300" />
  <span title="Hello friend, so how are u today !! Say hello to my friend Praneeth 👀!"><p>Anubhab Ray</p></span>
  </div>

  <div style="float: left;margin-right:50px ;">
  <img src="https://drive.google.com/uc?export=view&id=1EQcQ-8M6i9BhTVdrO87e7FCGKMVnwf05" alt="Praneeth" width="270" height="300" />
  <span title="Hello there !! So u are enjoing this hover over bussiness, Good 👐!!"><p>Mani Praneeth </p></span>
  </div>
</div>


<section >
  <h2 style="color:#ffffff">This website is created by Anubhab and Praneeth</h2>
  <h4 style="color: #cdb8fc;text-align: left;"> Wanted to say so many things here that make us who we are, but nobody is gonna read that anyway. <br> So hitting straight, just for fun ,on the left hand hover over the names under our pictures !! <br>There are aslo very beautiful hover-over-my-picture elements at the bottom of this page. 
  <i>Hope u like them.</i> 
 
  </h4>
  <p style="text-align: left;">Anubhab Ray - 200050010<br>IIT Bombay, BTech CSE<br></p>
  <p style="text-align: left;">Chilukuri Mani Praneeth - 200050028<br>IIT Bombay, BTech CSE<br></p>
  <a href="{% url 'home' %}"> <button class="button button1">Back to Home </button></a>
</section>

</section>


<hr size="10" color="#4ef5f2">
<section >
  <p style="margin-bottom:2cm; margin-left: 0; margin-top: 0;">
    <div class="myDIV"> Wanna follow us 💛 Then do checkout our insta and fb pages. </div>
    <div class="hide"><i>Basically asking for personal promotion is unprofessional but again who is judging !!</i></div>  

    <hr width="50%" size="5" color="#e3d1ff">
    <br> Anubhab : 
    <a href="https://www.instagram.com/jackiejack204/"> <i class="fab fa-instagram fa-lg"></i></a> 
    & <a href="https://www.facebook.com/anubhab.ray.5209"> <i class="fab fa-facebook-f fa-1.25x" style="color:blue;"> </i></a> 

    <hr width="15%" size="5" color="#e3d1ff">
    <br>Praneeth : 
    <a href="https://www.instagram.com/praneeth__7781/"><i class="fab fa-instagram fa-lg"></i></a>
    &  <a href="https://www.facebook.com/manipraneeth2307"> <i class="fab fa-facebook-f fa-1.25x" style="color:blue;"> </i></a> 
  </p>
</section>
<br>


<section>

<div class="image_anubhab" style="float: left;margin-left:60px ;">
  <img class="image_img" src="https://drive.google.com/uc?export=view&id=11D_8XxwzlrS_jgU4Eu4F7J0WjefFt0Pa" alt="Anubhab's">
  <div class="image_overlay image_overlay_blur">
    <div class="image_title">Hello <big>👐</big></div>
    <p class="image_description">My hobbies:Painting, Book Reading<br>interests:Tinkering with devices </p>
  </div>
</div>


<div class="image_anubhab" style="float: left;margin-left:120px ;">
  <img class="image_img" src="https://drive.google.com/uc?export=view&id=1vxeu5E6wOAddiNDBLiEA_oJqLxNX9FeZ" alt="Anubhab's">
  <div class="image_overlay image_overlay_blur">
    <div class="image_title">BYE...GOOD BYE<big>👐</big></div>
    <p class="image_description">Do visit Us Again <br> We will be waiting for U <big>😇</big></p>
  </div>
</div>


<div class="image_praneeth" style="float: right;margin-right:60px ;">
  <img class="image_img" src="https://drive.google.com/uc?export=view&id=1aVReiuTt485I4o2laom7kUaw65_LW9oj" alt="Praneeth's">
  <div class="image_overlay image_overlay_blur">
    <div class="image_title"> Hello <big>👐</big> </div>
    <p class="image_description"> My hobbies:Reading and Writing Novels<br>Interests:Cricket, Literature, Music</p>
</div>

</section>


{% endblock %}

