{% extends 'base.html' %}

{% block title %}TACP{% endblock %}

 

{% block content %}
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: teal; position: sticky; top:0;">
  <a href="\" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="pointer-events: none;">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentcolor" style="color: white; margin-left: 0.5rem;" class="bi bi-heart-fill" viewBox="0 0 16 16">
   <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
  </svg>
  <span class="fs-4" style="color: white; margin-left: 1rem;"><b>MOODLE ~ LITE</b><br><strong style="font-size: 20px; color:beige;">Learning Made Easier</strong></span>
  </a>
  <ul class="nav flex-column">
    <li class="nav-item">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link button1" style="color: white;" aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" style="color: white; margin-left: 0.5rem; margin-right: 0.5rem;" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
          HOME
          </a>
        </li>
        <li class="nav-item"><a href="{% url 'userpage' %}" class="nav-link button1" style="color: white;">My Profile</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link button1" style="color: white;">Log Out</a></li><br>
      </ul>
    </li>
    <li class="nav-item"><a id="mytime" style="color: white; text-align: right; margin-left: 6.8rem;"></a></li>
  </ul>
</header>


 


{% if user.is_authenticated %}
  <section style="top: 0; text-align: center;">
    <p style="color:teal;"><big>Hello {{ user.username }} !! </big></p>
    <h1 > Welcome to the TA Course Page for {{course_code}} | <img id="icon" src="../../../static/images/moon.png" alt="moon.png" /> </h1>
  </section>
  <br>


<div class="row">
  <div class="col" style="text-align:right;">
  {%if course_obj.chat_status %}
    <a href="/chat/{{course_code}}"><button class="button button1">{{course_code}} Discussion</button></a>
  {% else %}
    <button class="button button1" disabled style="pointer-events:none;"> Chat/Discussion isn't avilable:( </button>
  {%endif%}

  </div>
  <div class="col" style="text-align:left">
    <a href="/mysite/statistics/{{course_code}}" ><button type="button" class="button button4">Statistics</button></a>
  </div>
  <div class="col" style="text-align:right;">
    {% if priviledges.add_assignment %}
      <a href="/mysite/uplda/{{course_code}}/"><button type="button" class="button button2">Upload Assignment</button></a>
    {% else %}
      <a href="/mysite/uplda/{{course_code}}/"><button type="button" class="button button3" disabled>Upload Assignment-Disabled</button></a>  
    {% endif %}
  </div>
  <div class="col" style="text-align:left;">
    {% if priviledges.enrollment %}
      <a href="../../addstudent/"><button class="button button2">Add Person</button></a>
    {% else %}
      <a href="../addstudent/"><button class="button button3" disabled>Add Person-Disabled</button></a>
    {% endif %}
  </div>
</div>


<hr style="height:5px; color:teal; opacity: 1;">


  


    


<div class="container-fluid">
    <div class="row">
        <center class="row">
          <h1><i>Assignments</i></h1>
          
        </center>
        <div class="col-md-7" style="margin: 0 auto;">
            <form method="post">
                {% csrf_token%}
                <ul style="list-style-type: none;">

                    {% for assignment in assignments %}
                        <li>
                          <hr style="height:5px; color:blue;" >
                           <div class="mb-3">
                                <label for="name" class="form-label"> <i style="color:red;">{{assignment.start_time}} to {{assignment.end_time}}</i></label>
                                <div class="row">
                                  <div class="col-sm-2">
                                    <a href="#" style="pointer-events:none; "><button type="button" class="button button2" >{{assignment.title}}</button></a>
                                  </div>
                                  {% if priviledges.grade_assignment %}
                                  <div class="col" style="text-align:left;">
                                    <a href="/mysite/dnldb/{{course_code}}/{{assignment.title}}"><button type="button" class="button button2" >Download Solutions</button></a>
                                  </div>
                                  <div class="col" style="text-align:center;">
                                    <a href="/mysite/grading/{{course_code}}/{{assignment.title}}" ><button type="button" class="button button2" >Upload grading</button></a>
                                  </div>
                                  <div class="col" style="text-align:right;">  
                                    <a href="/mysite/uplag/{{course_code}}/{{assignment.title}}" ><button type="button" class="button button2" >Upload AutoGrader</button></a>
                                  </div>

                                  {% else %}
                                    <div class="col" style="text-align:center">
                                    <a href="/mysite/dnldb/{{course_code}}/{{assignment.title}}"><button type="button" class="button button3" disabled>Grading-Disabled</button></a>
                                  </div>
                                  {% endif %}
                                </div>
                                  <div class="mb-3">
                                    <div class="row">
                                   <div class="col-sm-2">   
                                   <label for="name" class="form-label" style="margin-top:1.5rem;">Description :</label>
                                   </div>
                                   <div class="col">
                                    <input type="text" readonly class="form-control" style="margin-top: 1rem;" value=" {{assignment.description}}">
                                    </div>
                                   </div>
                                </div>
                              </div>
                        </li>
                    {% endfor %}  
                </ul>
            </form>
        </div>
    </div>      
  </div>


{% else %}
  <section>
    <p><b>Sorry <i>you</i> are <strong style="color:red">NOT</strong> logged in😔 </b></p>
    <p>Come Aboard!! Hurry up and Login OR SignUp if <i>you</i> are a new User </p>
    <a href="{% url 'login' %}"><button class="button button1">Log In</button></a>
    <a href="{% url 'signupnew' %}"> <button class="button button2">SignUp </button></a>
  </section>
  
{% endif %}

{% endblock %}