{% extends 'base.html' %}
{% block title %}UploadB{% endblock %}
{% block content %}


<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: teal; position: sticky; top:0;">
  <a href="\" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="pointer-events: none;">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentcolor" style="color: white; margin-left: 0.5rem;" class="bi bi-heart-fill" viewBox="0 0 16 16">
   <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
  </svg>
  <span class="fs-4" style="color: white; margin-left: 1rem;"><b>MOODLE ~ LITE</b><br><strong style="font-size: 20px; color:beige;">Learning Made Easier</strong></span>
  </a>
  <ul class="nav flex-column">
    <li class="nav-item">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link button1" style="color: white;" aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" style="color: white; margin-left: 0.5rem; margin-right: 0.5rem;" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
          HOME
          </a>
        </li>
        <li class="nav-item"><a href="{% url 'userpage' %}" class="nav-link button1" style="color: white;">My Profile</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link button1" style="color: white;">Log Out</a></li><br>
      </ul>
    </li>
    <li class="nav-item"><a id="mytime" style="color: white; text-align: right; margin-left: 6.8rem;"></a></li>
  </ul>
</header>


{% if user.is_authenticated %} 


<h1> This is the Upload Solution Section | <img id="icon" src="../../../static/images/moon.png" alt="moon.png" /></h1>


 <form method="POST" enctype="multipart/form-data">
	{% csrf_token%}

<!-- 	<label for="id_title" class="form-label">Title</label> 
    <input type="text" class="form-control" name="title" autofocus="" autocapitalize="none" autocomplete="title" maxlength="150" required="" id="id_title" placeholder="myfile.txt/pdf" aria-describedby="TitleHelp">
    <div id="TitleHelp" class="form-text"></div>


    <label for="id_nature" class="form-label">file nature</label> 
    <input type="text" class="form-control" name="file_nature" autofocus="" autocapitalize="none" autocomplete="filenature" maxlength="150" required="" id="id_nature" placeholder="hxjhasx" aria-describedby="TitleHelp">
    <div id="TitleHelp" class="form-text"></div>
	

	
	<input type="file" name="upload" class="form-control" id="formFile">
	

	<p><label for="id_course_code">Course code:</label> <input type="text" name="course_code" maxlength="100" required="" id="id_course_code"></p> -->



	{{ form.as_p }}

<!-- 
	<p><label for="id_title">Title:</label> <input type="text" name="title" maxlength="50" required="" id="id_title"></p>
	<p><label for="id_upload">Upload:</label> <input type="file" name="upload" required="" id="id_upload"></p>
	
	<p><label for="id_file_nature">File nature:</label> <input type="text" name="file_nature" maxlength="100" required="" id="id_file_nature"></p> -->




	<button class="button button1" type="submit" value="SAVE"> Upload </button>

	
   
</form>

  {% else %}
    <section>
        <br>
        <h1 > NOT AUTHENTICATED USER !!</h1>
        <hr>
    </section>

    {% endif %}


{% endblock %} 