
:root{
    --primary-color:  white;
    --secondary-color: black;
}
.dark-theme{
    --primary-color: black;
    --secondary-color: teal;
}
#icon{
    width: 30px;
    cursor: pointer;
}

body {
  padding: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 25px;
}







#some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}





.centered_layout{
  text-align: center;

}
 

.cardanubhab{
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-image: url('https://drive.google.com/uc?export=view&id=1vHl-eJPw9ZI_CHmFk8rFtr_X_CuFi1BR');
}

.cardanubhab:hover{
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.cardpraneeth{
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  background-image: url('https://drive.google.com/uc?export=view&id=1EQcQ-8M6i9BhTVdrO87e7FCGKMVnwf05');
}

.cardanubhab:hover{
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.button {
  border: none;
  color: var(--primary-color);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border-radius: 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid #00a843;/*green color*/

}

.button1:hover {
  border-radius: 26px;
  background-color: #00a843;
  color: var(--primary-color);
}

.button2 {
  border-radius: 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid #02aabd;/*blue color*/
}

.button2:hover {
  border-radius: 26px;
  background-color: #02aabd;
  color: var(--primary-color);
}

.button3 {
  border-radius: 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid #d44a00;/*red color*/
}

.button3:hover {
  border-radius: 26px;
  background-color: #d44a00;
  color: var(--primary-color);
}

.button4 {
  border-radius: 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid #c363f7;/*violet color*/
}

.button4:hover {
  border-radius: 26px;
  background-color: #c363f7;
  color: var(--primary-color);
}


.button_slide {
  color: black;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 teal;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 teal;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 teal;
}

.slide_inside:hover {
  box-shadow: inset 0 0 0 50px teal;
}

.slide_left:hover{
  box-shadow: inset -400px 0 0 0 teal;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 teal;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}


#grad3 {/*linear gradient color*/
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, red, yellow);
}

#grad2 {/*transparent linear gradient*/
  height: 200px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}



.grad1 {
  background: #67b11c;
  background: linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px;
}

#con {
  width: 1024px;
  height: 670px;
  background-color: #045375;
}
#box1 {
  float: left;
  font-size: 25px;
  width: 200px;
  height: 200px;
  /* Changed the background url so that it works */
  background: url('https://drive.google.com/uc?export=view&id=1yxBzhtwb5gUCQ8JcdyK3_1PoX1UNmRnI') no-repeat center center;
  /*background-size: cover;*/
  margin-left: 20px;
  margin-top: 20px;
}
/* The CSS below is added to hopefully achieve the effect you're looking for. */

#text1 {
  display: none;
}
#box1:hover #text1 {
  display: block;
}






.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}


.image_hat{
  position: relative;
  width: 150px;
  height: 100px;
}

.image_anubhab{
  position: relative;
  width: 455px;
}

.image_praneeth{
  position: relative;
  width: 550px;
}

.image_img{
  display: block;
  width: 100%;
}

.image_title{
  font-size: 2em;
  font-weight: bold;
}

.image_description{
  font-size: 1.25em;
  margin-top: 0.25em;
}

.image_overlay{
  position: absolute;
  top:0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family:'Quicksand',sans-serif ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;  /* <-----------THIS IS VERY IMPORTANT HERE*/
  transition: opacity 0.25s;
}

.image_overlay:hover{
  opacity: 1;
}

.image_overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay:hover > *{
  transform: translateY(0);
}

.image_overlay_blur{
  backdrop-filter: blur(5px);
}

.image_overlay_solidbg{
  background: #009578;
}


.middle_bg{
  background:url() no-repeat top right;  
  top: 0;
  background: #0d374f; 
  /*background-blend-mode: soft-light;*/
}

hr.halfwidth{
  width: 50%;
  margin:0 auto;
  height: 5px;
  background: #000;
}

